/* global variables */
body {
  margin: 0;
  overflow: hidden; }

/*type*/
.HelvExt, .month .redMonth, .month .monthTitle {
  font-family: "Helvetica Extended";
  color: black; }

.Courier, .month p {
  font-family: courier;
  font-weight: 100; }

.paragraph, .month p {
  font-size: .6em;
  margin: 0;
  line-height: 1.5; }

.headline {
  font-family: "Helvetica Extended";
  font-weight: normal;
  font-size: 3em;
  transform: translate(19.5%, 133%); }

.tags {
  font-family: "Helvetica Extended";
  font-weight: 900;
  font-size: .65em;
  position: fixed; }

.subHead, .descriptionBox a {
  font-family: "Helvetica Regular";
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 5px; }

/*objects*/
.line {
  border-top: #ff0000 solid 2px;
  margin-bottom: 1px; }

.month .redMonth {
  font-weight: 900;
  font-size: 2em;
  position: absolute;
  z-index: -1;
  color: red;
  left: 0;
  transform: translate(-3px, 4px);
  transition: opacity .5s; }
.month .monthTitle {
  position: relative;
  font-weight: 900;
  font-size: 2em;
  margin: 0;
  margin-top: 5px;
  margin-bottom: -3px; }
.month h1 {
  font-family: "Helvetica Regular";
  font-weight: 900;
  font-size: 1.35em;
  color: darkgray;
  margin: 0;
  margin-bottom: 5px; }
.month p {
  color: black;
  line-height: 1.2; }

.bioBox {
  width: 200px;
  position: absolute;
  transform: translate(50px, 250px); }

.bioBox .line {
  margin-bottom: 10px;
  width: 80px; }
.bioBox .title {
  font-family: 'Helvetica Regular';
  font-weight: bold;
  font-size: .8em;
  white-space: nowrap;
  margin-left: 10px; }
.bioBox .option {
  font-family: 'Helvetica Regular';
  font-weight: normal;
  font-size: .6em;
  margin-left: 50px;
  white-space: nowrap; }
.bioBox .preview {
  margin-bottom: 30px; }

#optionsContainer .line {
  position: relative;
  width: 70px; }
#optionsContainer .title {
  font-size: .8em;
  margin-left: 25px;
  white-space: nowrap; }
#optionsContainer ul {
  padding: 0; }
#optionsContainer a {
  position: absolute;
  font-family: "Helvetica Regular";
  font-size: .6em;
  font-weight: normal;
  margin-left: 40px;
  white-space: nowrap; }
#optionsContainer li {
  margin-bottom: 20px; }

.descriptionBox p {
  margin-bottom: 50px; }
.descriptionBox a {
  font-size: .75em;
  color: darkgray; }

/*photo packaging*/
/*dominant*/
.dSquare {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(15%, -50%); }

.preview {
  height: 125px;
  width: 125px;
  overflow: hidden; }

li {
  list-style-type: none; }

/*main divs*/
#main {
  position: absolute;
  right: 8%;
  height: 100vh;
  width: 77.5vw;
  overflow: hidden;
  right: 0; }

#mainContainer {
  position: absolute;
  right: 1.5vw;
  height: 1200vh;
  width: 67.5vw;
  overflow: hidden; }

#TLContainer {
  width: 10vw;
  left: .5vw;
  height: 100vh;
  position: absolute; }

.month {
  width: inherit;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  position: absolute;
  transition: top .5s ease-out; }

.monthContent {
  width: 67.5vw;
  height: 100vh;
  position: absolute;
  transition: opacity 1.5s;
  opacity: 0;
  top: 0; }

.descriptionBox {
  width: 200px;
  /*auto width 200px unless specified*/
  position: absolute;
  right: 120px;
  /*auto on the right side unless specified*/
  top: 250px; }

#bioContainer {
  left: 0;
  height: 100vh;
  width: 30vw;
  position: fixed; }

/*# sourceMappingURL=stylesheet.css.map */
