.pineappleText{
	color: #FFF33B;
}

#bitch{
	opacity: 0; 
}

#textBlock{
	height: 500px;
	width: 500px;
	position: absolute;
	left: 35%;
	top: 40%;
}
.text {
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	margin: 0;
}

.big{
	font-size: 4em;
	margin-left: -3px;
}

.medium{
	font-size: 1.5em;
}

.tiny{
	font-size: .4em;
}

#pineapple{
    position: absolute;
    height: 400%;
    transform: translateY(-36%) translateX(-40%);
}

.animate{
	animation-name: bob;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes bob{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-6px);}
	100%{transform: translateY(0px);}
}

.paused{
	animation-play-state: paused;
}

section {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	overflow: hidden;
	background-color: black;
	transition: margin-top .5s ease-in-out;
}

#second{
	margin-top: 100%;
}

#third{

	margin-top: 200%;
}

#fourth{
	margin-top: 300%;
}

#fifth{
	margin-top: 400%;
}

#logo{
	height: 2250px;
	width: 400px;
	left: 0%;
}

/*second */

#snowContainer{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 50%;
}

#snowContainer2{
	position: absolute;
	top: 0;
	left: 60%;
	transform: translateX(-50%);
	height: 100%;
	width: 100%;
}

#img1{
	clip-path: url(#ring1);
	-webkit-clip-path: url(#ring1);
}

.sway0{
	animation: sway0 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway0{
	0%{margin-left: 0%; transform: translate(140px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(140px) rotate(15deg);}
}

.sway1{
	animation: sway1 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway1{
	0%{margin-left: 0%; transform: translate(40px, 170px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(40px, 170px) rotate(15deg);}
}

.sway2{
	animation: sway2 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway2{
	0%{margin-left: 0%; transform: translate(160px, 110px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(160px, 110px) rotate(15deg);}
}

.sway3{
	animation: sway3 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway3{
	0%{margin-left: 0%; transform: translate(40px, 280px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(40px, 280px) rotate(15deg);}
}

.sway4{
	animation: sway4 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway4{
	0%{margin-left: 0%; transform: translate(340px, 340px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(340px, 340px) rotate(15deg);}
}

.sway5{
	animation: sway5 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway5{
	0%{margin-left: 0%; transform: translate(200px, 420px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(200px, 420px) rotate(15deg);}
}

.sway6{
	animation: sway6 2s ease-in-out infinite alternate;
	transition: transform 2s;
}

@keyframes sway6{
	0%{margin-left: 0%; transform: translate(-10px, 500px) rotate(-15deg);}
	100%{margin-left:10%; transform: translate(-10px, 500px) rotate(15deg);}
}

.flash{
	animation: flash .1s linear forwards;
	animation-iteration-count: 10;
}

@keyframes flash{
	0%{color: white;}
	100%{color: yellow;}
}