/*900 == black, bold == bold, normal == medium, 100 == light*/

/*Helvetica Neue Regular*/

@font-face{
	font-family: 'Helvetica Regular';
	font-weight: 900;
	font-style: normal;
	src: url('HelveticaNeueLTStd-Blk.otf');
}

@font-face{
	font-family: 'Helvetica Regular';
	font-weight: bold;
	font-style: normal;
	src: url('HelveticaNeueLTStd-Bd.otf');
}

@font-face{
	font-family: 'Helvetica Regular';
	font-weight: medium;
	font-style: normal;
	src: url('HelveticaNeueLTStd-Md.otf');
}

@font-face{
	font-family: 'Helvetica Regular';
	font-weight: 100;
	font-style: normal;
	src: url('HelveticaNeueLTStd-Lt.otf');
}

/*Helvetica Neue Extended*/

@font-face{
	font-family: 'Helvetica Extended';
	font-weight: 900;
	font-style: none;
	src: url('HelveticaNeueLTStd-BlkEx.ttf');
}

@font-face{
	font-family: 'Helvetica Extended';
	font-weight: bold;
	font-style: none;
	src: url('HelveticaNeueLTStd-BdEx.ttf');
}

@font-face{
	font-family: 'Helvetica Extended';
	font-weight: normal;
	font-style: none;
	src: url('HelveticaNeueLTStd-MdEx.ttf');
}

